body {
    margin: 0;
    padding: 0;
}

.title {
    background-color: #fff;
    height: 150px;
}

.xdt {
    position: relative;
    height: 550px;
    text-align: center;
    background-color: #fdc988;
    z-index: 0;
}

#row-main {
  /* necessary to hide collapsed sidebar */
  overflow-x: hidden;
}

#content {
  /* for the animation */
  transition: width 0.3s ease;
}

#sidebar {
  /* for the animation */
  transition: margin 0.3s ease;
}

.collapsed {
  /* hide it for small displays*/
  display: none;
}

@media (min-width: 992px) {
  .collapsed {
    display: block;
    /* same width as sidebar */
    margin-right: -25%;
  }
}

.navbar-toggle {
    display: block !important;
    margin-top: 35px !important;
}

.navbar-toggle span {
    width: 24px;
    height: 3px;
    background-color: #c2c2c2;
}

/* ------------------ */

#word {
    color: #5b5b5b;
    font-weight: 700;
    letter-spacing: 0.2em;
    font-size: 2.25em;
    line-height: 55px;
}

#word span {
    display: block;
    text-align: center
}

#keyboard ul {
    margin: 10px 0;
    list-style-type: none;
    text-align: center
}

#keyboard ul li {
    display: inline-block
}

#keyboard ul li button {
    font-size: 22px;
    width: 50px;
    background: #fff;
}

.bgd {
    position: relative;
    top: 0;
    left: 0;
    width: 251px;
    height: 209px;
    background: url('../images/forca.gif');
    display: block;
    margin: auto;
}

#stickman .error-0 {
    position: absolute;
    top: 10%;
    left: 51%;
    width: 50px;
    height: 60px;
    background: url('../images/man/head.png');
    background-size: cover;
}

#stickman .error-1 {
    position: absolute;
    top: 38.5%;
    left: 53%;
    width: 39px;
    height: 70px;
    background: url('../images/man/body.png');
    background-size: cover;
}

#stickman .error-2 {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 26px;
    height: 60px;
    background: url('../images/man/arm.png');
    background-size: cover;
}

#stickman .error-3 {
    position: absolute;
    top: 41%;
    left: 54%;
    width: 43px;
    height: 60px;
    background: url('../images/man/arm2.png');
    background-size: cover;
}

#stickman .error-4 {
    position: absolute;
    top: 70%;
    left: 53.5%;
    width: 18px;
    height: 70px;
    background: url('../images/man/leg.png');
    background-size: cover;
}

#stickman .error-5 {
    position: absolute;
    top: 70%;
    left: 57%;
    width: 21px;
    height: 70px;
    background: url('../images/man/leg2.png');
    background-size: cover;
}

#to-do-next {
    overflow: hidden;
    margin: 20px 0
}